.drawing {
	position: relative;
}
.circle-1 {
	background-color: white;
    border: 1.5px solid black;
    position: absolute;
    top: 50px;
    left:0px;    
    width: 47px; 
    height: 47px; 
    border-radius: 25px;
    z-index: 100;  
}

.circle-2 {
	background-color: white;
	border: 1.5px solid black;
	position: absolute;
	margin-left:100px;
	top:40px;  
    width: 67px; 
    height: 67px; 
    border-radius: 35px;
    z-index: 70;
}

.circle-3 {
	border: 1.5px solid black;
	position: absolute;
	margin-left:240px;
	top:75px;    
    width: 97px; 
    height: 48.5px; 
	border-radius:0 0 50px 50px;
	border-top-color:white;
	z-index: 100;
}

.circle-4 {
	border: 1.5px solid black;
	position: absolute;
	margin-left:380px;
	top:50px; 
    width: 47px; 
    height: 23.5px; 
    border-radius: 25px 25px 0 0;
    border-bottom-color:white;
    z-index: 100;
}

.circle-5 {
	border: 1.5px solid black;
	position: absolute;
	margin-left:450px;
	top:75px;    
    width: 7px; 
    height: 3.5px; 
    border-radius: 0 0 5px 5px;
    border-top-color:white;
    z-index: 100;
}

.line {
	border:0.5px solid black;
	position: absolute;
    left: 0px;
    top: 75px;   
    width: 459px; 
    height: 0px; 
    z-index: 80;
} 