body {
  margin: 0;
  font-size: 14px;
  min-width: 1200px;
}

h1, h2, h3, p, img{
	margin: 0;
}

ul,
dl,
li,
dd,
dt {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clear {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.clearfix:after,
.clearfix:before {
  content: '\20';
  display: table;
  height: 0;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/*header*/


header {
	height: 1080px;
	background-image:url(../img/bg_header.jpg); 
	background-position: center top;
	background-repeat: no-repeat;
	color:white;
	text-align: center;
}

header h1 {
	font-size: 42px;
	line-height: 42px;
	letter-spacing: 4px;
	font-weight: normal;
	padding-top: 154px;
}

#logo {
	display:inline-block;
	background-image:url(../img/logo.png);
	height: 107px;
	width: 107px;
	background-size: 100% 100%;
	text-indent: -9999px;
	vertical-align: middle;
	margin-right: 22px;
}

header span {
	display: block;
	letter-spacing:18px;
	height:56px;
	font-size: 60px;
	margin-top: 60px;
	font-weight: normal;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

header p {
	position: relative;
	left:0;
	top:0;
	width:270px;
	height: 18px;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	letter-spacing: 3px;
	line-height: 18px;
	padding-left: 55px;
	padding-right: 55px;
	text-align: center;
	box-sizing:border-box;
}

header p::before {
	position: absolute;
	content: "\20";
	width:30px;
	height: 2px;
	top:50%;
	left:0;
	display: block;
	background-color: white;
}

header p::after {
	position: absolute;
	content: "\20";
	width:30px;
	height: 2px;
	top:50%;
	left:auto;
	right:3px;
	background-color: white;
}

header p+a {
	display: block;
	color:white;
	width:394px;
	height:74px;
	line-height: 74px;
	border:3px white solid;
	border-radius: 32px;
	text-align: center;
	text-decoration: none;
	font-size: 38px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 10px;
}
/*header end*/

/*main*/
.benefit {
	margin: 0 auto;
	height: 720px;
}
/*benefit 01*/
.benefit-01 h2 {
	color:#379ff3;
	margin-top:72px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 58px;
	letter-spacing: 17px;
	height:58px;
	line-height: 58px;
}

.benefit-01 h2+p {
	color:#379ff3;
	text-align: center;
	font-size: 24px;
	height: 24px;
	line-height: 24px;
	letter-spacing: 6px;
}

.benefit-01 #icon-01 {
	display: inline-block;
	width: 214px;
	height:188px;
	background-image:url(../img/icon_sprite.png);
	background-position: 0 0; 
	margin-left: 70px;
}

.benefit-01 #icon-02 {
	display: inline-block;
	width: 184px;
	height:188px;
	background-image:url(../img/icon_sprite.png);
	background-position: -214px 0; 
	margin-left: 92px; 
}

.benefit-01 #icon-03 {
	display: inline-block;
	width: 182px;
	height:188px;
	background-image:url(../img/icon_sprite.png);
	background-position: -398px 0;
	margin-left: 90px;  
}

.benefit-01 ul {
	margin: 0 auto;
	margin-left: 58px;
	height: 450px;
}

.benefit-01 li {
	float:left;
	width: 362px;
	height: 450px;
}

.benefit-01 li:hover {
	box-shadow: 0 10px 26px rgb(231, 231, 231);

}

.benefit-01 h3 {
	margin-top: 60px;
	font-size: 36px;
	line-height: 38px;
	text-align: center;
	letter-spacing: 10px;
}

.benefit-01 p {
	margin-top:28px;
	font-size: 18px;
	letter-spacing: 4px;
	text-align: center;
	line-height: 18px;
}
/*benefit-01 end*/

/*benefit-02*/
.benefit-02 {
	background-image:url(../img/bg_benefit02.png);
	background-position: top center;
	background-repeat: no-repeat;
	color:white;
}
.benefit-02 img {
	width:717px;
	height: 870px;
	margin-left: -70px;
}

.benefit-02 .wrapper>div {
	float: right;
}

.benefit-02 h2{
	margin-top: 248px;
	margin-right: 59px;
	font-size: 58px;
	line-height: 78px;
	letter-spacing: 3px;
}

.benefit-02 p {
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 1px;
	margin-top: 20px;
}
/*benefit-02 end*/

/*benefit-03*/
.benefit-03 {
	overflow: hidden;
}
.benefit-03 >div {
	position: relative;
	top:0;
	left:0;
}

.benefit-03 h2{
	margin-top: 248px;
	margin-right: 59px;
	font-size: 58px;
	line-height: 78px;
	letter-spacing: 3px;
	width:540px;
	text-align: right;
}

.benefit-03 p {
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 1px;
	margin-top: 20px;
	width:540px;
	text-align: right;
}

.benefit-03>div img:nth-child(3){
	position: absolute;
	left: 564px;
	top: 0px;
	width:519px;
	height: 478px;
	margin-top: 26px;
	margin-left: 76px;
	z-index: 20;
}

.benefit-03>div img:nth-child(4){
	position: absolute;
	left: 564px;
	top: 500px;
	width: 810px;
	height: 495px;
	margin-left: 11px;
	margin-top: -278px;
	z-index:10;
}
/*benefit-03 end*/

/*benefit-04*/
.benefit-04 {
	background-image:url(../img/bg_benefit04.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.benefit-04 .wrapper {
	height: 720px;
}
.benefit-04 img {
	display: block;
	width: 978px;
	height:630px;
	margin-left: -74px;
	margin-top: 59px;
}

.benefit-04 .wrapper>div {
	float: right;
	color:white;
	width:500px;
	margin-top: -455px;
}

.benefit-04 h2{
	margin-top: 0;
	font-size: 58px;
	line-height: 78px;
	letter-spacing: 3px;
}

.benefit-04 p {
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 1px;
	margin-top: 20px;
}
/*benefit-04 end*/

/*summary	*/
.summary {
	height: 720px;
	color: #1093fe;
	text-align: center;
}

.summary img {
	width: 260px;
	height: 260px;
}

.summary h2 {
	font-size: 84px;
	line-height: 84px;
	height:84px;
	margin-top: 80px;
	letter-spacing: 30px;
	text-indent: 10px;
	font-weight: normal;
}

.summary ul {
	width: 670px;
	margin:0 auto;
}

.summary li {
	margin-top: 40px;
	font-size: 60px;
	width: 250px;
	font-weight: normal;
	white-space: nowrap;
	text-align:center;
}

.summary span {
	display: block;
	font-size: 30px;
	font-weight: normal;
	text-indent: 0;
}

.summary i {
	display: block;
	width:55px;
	height:88px;	
	margin:0 auto;
	margin-bottom: 6px;
	font-weight: normal;
}

.IOS {
	float:left;
}

.IOS i {
	background-image:url(../img/icon_sprite.png);
	background-position: -10px -198px; 
}

.IOS img {
	margin-top: 3px;
}

.Android {
	float:right;
}

.Android i {
	background-image:url(../img/icon_sprite.png);
	background-position: -75px -198px;
}

.Android img {
	margin-top: 7px;
	width:256px;
	height:256px;
}
/*summary end*/
/*main end*/

/*footer*/
footer {
	height: 420px;
	background-color: #e8e8e8;
	margin: 0 auto;
}

.contact {
	height: 359px;
	margin: 0 auto;
}

.contact h2 {
	font-size: 30px;
	line-height: 30px;
	letter-spacing: 2px;
	font-weight: normal;
	margin-left: 332px;
	margin-top: 28px;
	margin-bottom: 8px;
}

.contact ul {
	margin-left: 270px;
}

.contact li {
	font-size: 24px;
	line-height: 62px;
	letter-spacing: 1px;
}
.contact div:nth-child(1) {
	float:left;
	margin-top: 38px;
}

.contact div:nth-child(1) i {
	display: inline-block;
	width: 47px;
	height:47px;
	vertical-align: middle;
	margin-right: 16px;
	margin-top: -4px;
}

.contact ul li:nth-child(1) i{
	background-image:url(../img/icon_sprite.png); 
	background-position: -140px -198px;
}

.contact ul li:nth-child(2) i{
	background-image:url(../img/icon_sprite.png); 
	background-position: -197px -198px;
}

.contact ul li:nth-child(3) i{
	background-image:url(../img/icon_sprite.png); 
	background-position: -254px -198px;
}


.contact div:nth-child(2) {
	float:right;
	margin-right: 256px;
	margin-top: 102px;
	width:150px;
}

.contact div:nth-child(2) p{
	color:#858585;
	font-size: 18px;
	text-align: center;
	line-height: 18px;
	height: 18px;
	text-indent: -3px;
}

.contact div:nth-child(2) img{
	margin-top: 6px;
	width: 149px;
	height: 149px;
}


.copyright {
	height: 61px;
	color: white;
	background-color: #000220;
	text-align: center;
	box-sizing:border-box;
}

.copyright p {
	padding-top: 20px;
	font-size: 18px;
}
/*footer end*/